/* Estilos generales */
body {font-size:.875rem;}
.main {padding:20px;}
.card {margin-top:20px;border-radius:10px;}
.card-header {background-color:#28a745;color:white;border-radius:10px 10px 0 0;padding:10px;}
.card-header h1 {margin:0;}
.card-header-title {height:30px;}
#start-date,#end-date,#filter-date-btn {height:20px;}
#filter-date-btn {line-height:6px;}
.metric-card {height:210px!important;}
.icon-card-resumen {font-size:30px;}
.card-title-description {line-height:10px;}
.card-title {margin-bottom:20px;}

/* Estilos de reportes */
.report-card {margin-bottom:20px;}
.report-card .card-body {height:300px;position:relative;}
.divider {border:1px solid #28a745;margin:20px 0;}

/* Estilos de los botones */
.btn-primary {background-color:#28a745;border-color:#28a745;}
.btn-primary:hover {background-color:#218838;border-color:#218838;}
.btn-success {background-color:#28a745;border-color:#28a745;}
.btn-success:hover {background-color:#218838;border-color:#218838;}

/* Estilos del modal */
.modal-xl {max-width:90%;}
.modal-header {background-color:#28a745;color:white;border-radius:10px 10px 0 0;padding:10px;border-bottom:1px solid #28a745;}
.modal-header .modal-title {font-size:1.5rem;font-weight:bold;}
.modal-content {border-radius:.7rem!important;}
.modal-header .close {font-size:1.8rem;color:red;}
.modal-body {padding:20px;}
.modal-footer {border-top:none;padding:10px 20px;}

/* Estilos del formulario en el modal */
.form-section {background-color:#f8f9fa;padding:20px;border-radius:10px;box-shadow:0 4px 8px rgba(0,0,0,.1);margin-bottom:3px;}
.form-section h5 {color:#28a745;}
.form-section .form-group {margin-bottom:15px;}
.form-section .form-control {border:1px solid #28a745;border-radius:4px;}
.form-section .form-control:focus {box-shadow:none;border-color:#218838;}
.form-section .btn {background-color:#28a745;border:none;color:white;}
.form-section .btn:hover {background-color:#218838;}


/* Estilos para details-card */
.details-card {position:relative;border:1px solid #ddd;border-radius:10px;box-shadow:0 4px 8px rgba(0,0,0,.1);padding:20px;background-color:#fff;display:flex;flex-direction:column;}
.header {background:linear-gradient(to right,#d3d3d3,#ffffff);color:#333;border-radius:10px 10px 0 0;text-align:center;padding:10px;font-weight:bold;}
.logo-container {position:absolute;top:20px;right:20px;}
.logo {width:auto;height:auto;max-width:100px;max-height:100px;border-radius:10px;box-shadow:0 4px 8px rgba(0,0,0,.1);}
.info-section .section-header {background-color:#f0f0f0;color:#555;border-radius:5px;font-weight:bold;width:82%;}
.info-section .row p {margin-bottom:5px;font-weight:bold;color:#212529;}
.info-section .row p strong {color:#000;}
.bg-grey-gradient {background:linear-gradient(to right,#d3d3d3,#ffffff);}
.bg-light-grey {background-color:#f0f0f0!important;}
.table-bordered th,.table-bordered td {border:1px solid #000!important;font-weight:bold;}
.table thead th {vertical-align:bottom;border-bottom:2px solid #dee2e6;}

/* Estilos para la tabla */
.styled-table {width:100%;border-collapse:collapse;font-size:12px;font-family:Arial,sans-serif;margin:20px 0;box-shadow:0 4px 8px rgba(0,0,0,.1);border-radius:10px;overflow:hidden;}
.styled-table thead tr {background-color:#343a40;color:#ffffff;text-align:left;}
.styled-table th,.styled-table td {padding:12px 15px;border:1px solid #ddd;text-align:center;}
.styled-table tbody tr {border-bottom:1px solid #ddd;}
.styled-table tbody tr:nth-of-type(even) {background-color:#f3f3f3;}
.styled-table tbody tr:last-of-type {border-bottom:2px solid #343a40;}
.styled-table th {background-color:#343a40;color:white;}
.styled-table td.green {background-color:#3E8E41;color:white;}
.styled-table td.yellow {background-color:#eff238;color:black;}
.styled-table td.orange {background-color:#FFA500;color:black;}
.styled-table td.red {background-color:#D9534F;color:white;}
.styled-table th,.styled-table td {border:1px solid #000;font-weight:bold;}

/* Estilos para el gráfico de anillo */
#myDoughnutChart {max-width:400px;max-height:400px;width:100%;height:auto;margin:0 auto;}

/* Estilos de las métricas */
.metric-card {padding:20px;border:1px solid #ddd;border-radius:10px;background-color:#fff;box-shadow:0 4px 8px rgba(0,0,0,.1);margin-bottom:20px;}
.metric-icon {font-size:2rem;margin-bottom:10px;}
.metric-value {font-size:1.5rem;font-weight:bold;}
.metric-label {color:#888;}

/* Estilos para íconos de métricas */
.metric-icon .fas {color:#007bff;}
.metric-icon .fa-comments {color:#007bff;}
.metric-icon .fa-envelope-open-text {color:#28a745;}
.metric-icon .fa-times-circle {color:#dc3545;}
.metric-icon .fa-exchange-alt {color:#ffc107;}

/* Estilos para el texto dentro de las tarjetas de métricas */
.metric-card .card-text {font-size:2.5rem;font-weight:bold;color:#333;}
.metric-card .card-body {padding:10px;}
.metric-card .card-text {font-size:1.2rem;}
.row.text-center {display:flex;justify-content:center;align-items:center;}
.custom-size {flex:0 0 20%;max-width:20%;}
@media (max-width:768px) {.custom-size {flex:0 0 30%;max-width:30%;}}
.report-card {width:100%;margin-bottom:20px;}
#chartContainer .col-md-12 .report-card .card-body canvas#lineChart {height:400px;}

/* Estilos para el ícono */
.icon-box {display:inline-block;background-color:#007bff;padding:5px;border-radius:5px;text-align:center;transition:background-color .3s ease;}
.icon-box i {color:#fff;}
.icon-box:hover {background-color:#0056b3;}


